.main {
    border: 20px solid #bdc3c7;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.date {
    color: #3498db;
    text-transform: uppercase;

    /* Root element is what rem stands for, different from em  */
    letter-spacing: 0.2rem;
}

.post {
    
    margin-bottom: 20px;
}

.cmax {
    max-width: 1260px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Inset, by Dan Eden */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 4.0em;
}

h2 {
    color: #2c3e50;
}

h4 {
    color: #123abc;
}

